---
const update = Astro.props.update;
---

<style>
  .styled-image {
    height: auto;
    max-width: 380px;
    border-radius: 8px;
    border: 1px solid #49494c1a;
  }
</style>
<a href={update.link}>
  <div style="max-width: 380px;">
    <div class="pb-[40px]">
      <img src={update.featured_image} alt={update.alt} class="styled-image" />
    </div>
    <div class="pb-4 heading-4">
      {update.title}
    </div>
    <div
      class="font-poppins font-normal text-base leading-6 tracking-[0px] text-[#49494C]"
      set:html={update.summary}
    />
  </div>
</a>
