---
import { getEntry } from "astro:content";
const { path } = Astro.props;
const componentContent = (await getEntry("updates", path)).data;
import Button from "../common/button.astro";
---

<div>
  <div
    class="gap-[10px] px-6 lg:px-8 max-w-[81rem] text-[1rem] font-normal leading-[100%] font-poppins mx-auto my-8"
  >
    <div>
      <div class="heading-1">
        {componentContent.title}
      </div>
      <div class="flex justify-between pt-[48px]">
        <div>
          Date: {componentContent.date}
        </div>
        <div>
          Share post:
          <a href={componentContent.instagramLink} aria-label="Instagram">
            <i class="ai-instagram"></i>
          </a>
          <a href={componentContent.facebookLink} aria-label="Instagram">
            <i class="ai-facebook"></i>
          </a>
          <a href={componentContent.telegramLink} aria-label="Instagram">
            <i class="ai-telegram"></i>
          </a>
          <a href={componentContent.xLink} aria-label="Instagram">
            <i class="ai-x"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- content div -->

    <div class="updateFocus-content" style="padding-top: 120px;">
      <!-- main text -->
      {
        componentContent.content && (
          <div class="body-text-1">
            {componentContent.content.map((item) => (
              <div set:html={item} />
            ))}
          </div>
        )
      }
    
      <div class="pt-[48px] pb-[40px]">
        <div class="flex gap-4">
          {/* Primary button */}
          {componentContent.mainButtonTitle && (
            <Button
              btn="btn1"
              title={componentContent.mainButtonTitle}
              link={componentContent.mainButtonLink}
            />
          )}

          {/* Secondary button */}
          {componentContent.secondaryButtonTitle && (
            <Button
              btn="btn3"
              title={componentContent.secondaryButtonTitle}
              link={componentContent.secondaryButtonLink}
            />
          )}
        </div>
      </div>

      <!-- image -->
      {
        componentContent.featured_image && (
          <div class="h-auto w-full  pt-[80px]">
            <img
              src={componentContent.featured_image}
              alt={componentContent.alt}
              class="w-full h-full"
              loading="lazy"
            />
          </div>
          <p class="Error-text" style="padding-top: 16px; ">
            {componentContent.alt}
          </p>
        )
      }
      <div>
        <div class="heading-3 pt-[164px] pb-[96px]">Recording of event</div>
        <!-- video -->
        {
          componentContent.video_link && (
            <div class="h-auto w-full">
            <video
              src={componentContent.video_link}
              controls
              width="100%"
              />
          </div>
          <p class="font-poppins font-bold text-[20px] leading-[100%] tracking-[0%] pt-[32px] text-[#1E1E1E]">
            {componentContent.videoDescription}
          </p>
        )
      }
      </div>

      <!-- secondary text -->
      {
        componentContent.information && (
          <div class="body-text-1">
            {componentContent.information.map((item) => (
              <div set:html={item} />
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
