---
import { getEntry } from "astro:content";
const entry = (await getEntry("updates", "2022-09-14-hindi-diwas")) as any;

const {
  content1 = "",
  content2 = "",
  title1 = "",
  title2 = "",
  title3 = "",
  title4 = "",
  title5 = "",
  title6 = "",
} = entry?.data ?? {};
---

<div
  class="container"
  style="margin-top:130px; font-size:23px; color:#051D40; text-aling:justify;"
>
  <p>
    {content1}
  </p>
  <br />

  <p style="text-align: center; font-size:19px; color:#051D40;">
    <b>
      {content2}
    </b>
  </p>

  <br />

  <div style="text-align: center;font-size:20px; color:#051D40;">
    <ul style="list-style-type: none; padding: 0;">
      <li>
        <hr />
        <p></p>
        <img
          src="/assets/images/hindidiwas/poster.jpeg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title1}</b></p>
        <img
          src="/assets/images/hindidiwas/neer_jain.jpg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title2}</b></p>
        <img
          src="/assets/images/hindidiwas/sarika_jain.jpg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title3}</b></p>
        <img
          src="/assets/images/hindidiwas/anurima_jain.jpeg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title4}</b></p>
        <img
          src="/assets/images/hindidiwas/bindubala_jain.jpeg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title5}</b></p>
        <img
          src="/assets/images/hindidiwas/anjali_rai_1.jpeg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
      <li>
        <hr />
        <p><b>{title6}</b></p>
        <img
          src="/assets/images/hindidiwas/sushma_badkul.jpeg"
          style="border: 1px solid #888; width:600px; margin-bottom: 20px;"
        />
      </li>
    </ul>
  </div>
</div>
