---
import { getEntry } from "astro:content";
import Heading from "../common/heading.astro";
const cardData = (await getEntry("donation", "donationmatter")).data;
---

<section class=" matter-card mt-5">
  <Heading title={cardData.title}/>
  <div class="container img-container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <img
          class="img-fluid rounded"
          src={cardData.img}
          alt="Donation image"
        />
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="donation-content">
          <p class="description-text">{cardData.description}</p>
        </div>
      </div>
    </div>

    <!-- Donation Card Points -->
    <div class="row mt-4">
      <!-- Point 1 -->
      <div class="col-md-4">
        <div class="donation-point d-flex align-items-start donation-content">
          <img
            class="icon"
            src={cardData.point1.img}
            alt={cardData.point1.heading}
          />
          <div class="ms-3 point-desc">
            <h5>{cardData.point1.heading}</h5>
            <p>{cardData.point1.desc}</p>
          </div>
        </div>
      </div>

      <!-- Point 2 -->
      <div class="col-md-4">
        <div class="donation-point d-flex align-items-start donation-content">
          <img
            class="icon"
            src={cardData.point2.img}
            alt={cardData.point2.heading}
          />
          <div class="ms-3 point-desc">
            <h5>{cardData.point2.heading}</h5>
            <p>{cardData.point2.desc}</p>
          </div>
        </div>
      </div>

      <!-- Point 3 -->
      <div class="col-md-4">
        <div class="donation-point d-flex align-items-start donation-content">
          <img
            class="icon"
            src={cardData.point3.img}
            alt={cardData.point3.heading}
          />
          <div class="ms-3 point-desc">
            <h5>{cardData.point3.heading}</h5>
            <p>{cardData.point3.desc}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
