---
import { getEntry } from "astro:content";
const digitalTrainers =(await getEntry ("digitalskill","ourtrainers")).data
---

<section class="container position-relative" style="margin-top: -4rem;">
  <div class="container position-relative z-2 pb-3 pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-md-3 mt-xxl-2 mb-3 mb-lg-4">
    <div class="mx-1">
      <h2 class="h1">{digitalTrainers.heading}</h2>
      </div>
  </div>
  <div class="container-start pe-0 d-flex justify-content-space-evenly align-item-center" style="gap:15px;">
        <!---Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src={digitalTrainers.imageCard1.image} alt="Image">
            <h3 class="h5 mb-1">{digitalTrainers.imageCard1.name}</h3>
            <p class="text-body-secondary mb-2">{digitalTrainers.imageCard1.description}</p>
           </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src={digitalTrainers.imageCard2.image} alt="Image">
            <h3 class="h5 mb-1">{digitalTrainers.imageCard2.name}</h3>
            <p class="text-body-secondary mb-2">
              {digitalTrainers.imageCard2.description}
            </p>
            </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src={digitalTrainers.imageCard3.image} alt="Image">
            <h3 class="h5 mb-1">{digitalTrainers.imageCard3.name} </h3>
            <p class="text-body-secondary mb-2">{digitalTrainers.imageCard3.description}</p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide w-auto">
          <div class="card-hover text-center" style="max-width: 306px;">
            <img class="d-block rounded-5 mb-4" src={digitalTrainers.imageCard4.image}  alt="Image">
            <h3 class="h5 mb-1">{digitalTrainers.imageCard4.name} </h3>
            <p class="text-body-secondary mb-2">{digitalTrainers.imageCard4.description}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>