---
import { getEntry } from "astro:content";
const digitalSkilPrograme =(await getEntry("digitalskill","programe")).data
---

<section
  class="container digital-container position-relative py-5 mt-4 mt-sm-3 mt-md-4 d-flex justify-content-center align-item-center"
>
  <div class="col-md-6 col-lg-6 col-xl-6 offset-xl-1">
    <div class="ps-lg-4 ps-xl-0">
      <div class="binded-content digital-container ">
        <div class="binded-item active" id="finance-img">
          <img
            class="rounded-5 digital-container "
            src={digitalSkilPrograme.image}
            alt="Image"
          />
        </div>
      </div>
    </div>
  </div>

<!-- Accordion -->
<div class="col-md-2 col-lg-5 pb-2 pb-lg-0 mb-4 mb-md-0 mx-5">
  <div class="accordion accordion-alt" id="industries">
    <div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed digital-programe-h3 h5"
          type="button"
          data-bs-toggle="collapse"
          data-binded-content="#finance-img"
          data-bs-target="#finance"
          aria-expanded="true"
          aria-controls="finance">{digitalSkilPrograme.headingEmpowerment}</button
        >
      </h3>
      <div
        class="accordion-collapse collapse"
        id="finance"
        data-bs-parent="#industries"
      >
        <div class="accordion-body digital-programe-paragraph ">
          {digitalSkilPrograme.paragraphLearn}
        </div>
      </div>
    </div>
    <div class="accordion-item mb-n3 mb-lg-n2 mb-xl-1">
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed digital-programe-h3 h5"
          type="button"
          data-bs-toggle="collapse"
          data-binded-content="#tech-img"
          data-bs-target="#tech"
          aria-expanded="false"
          aria-controls="tech">{digitalSkilPrograme.headingLearn}</button
        >
      </h3>
      <div
        class="accordion-collapse collapse"
        id="tech"
        data-bs-parent="#industries"
      >
        <div class="accordion-body digital-programe-paragraph ">
          {digitalSkilPrograme.paragraphLearn}
        </div>
      </div>
    </div>
    <div
      class="accordion-item mb-n3 mb-lg-n2 mb-xl-1"
      style="margin-top: 1rem;"
    >
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed digital-programe-h3"
          type="button"
          data-bs-toggle="collapse"
          data-binded-content="#medicine-img"
          data-bs-target="#medicine"
          aria-expanded="false"
          aria-controls="medicine">{digitalSkilPrograme.headingPromoting}</button
        >
      </h3>
      <div
        class="accordion-collapse collapse"
        id="medicine"
        data-bs-parent="#industries"
      >
        <div class="accordion-body digital-programe-paragraph ">
          {digitalSkilPrograme.paragraphPromoting}
          
        </div>
      </div>
    </div>
    <div
      class="accordion-item mb-n3 mb-lg-n2 mb-xl-1"
      style="margin-top: 1rem;"
    >
      <h3 class="accordion-header">
        <button
          class="accordion-button collapsed digital-programe-h3"
          type="button"
          data-bs-toggle="collapse"
          data-binded-content="#ecommerce-img"
          data-bs-target="#ecommerce"
          aria-expanded="false"
          aria-controls="ecommerce">{digitalSkilPrograme.headingTechnology}</button
        >
      </h3>
      <div
        class="accordion-collapse collapse"
        id="ecommerce"
        data-bs-parent="#industries"
      >
        <div class="accordion-body digital-programe-paragraph ">
          {digitalSkilPrograme.paragraphTechnology}
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<style>
  .digital-programe-h3 {
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    
  }

  .digital-programe-paragraph {
    width: 420px;
    height: 180px;
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
    text-align: justify;
    color: #576071;
    letter-spacing: 0.4px;
  }

  @media (max-width: 430px) {
    .digital-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>