---
const { datas = "" } = Astro.props;
import Button from "../common/button.astro";
---

<div
  class="bg-white rounded-2xl transition-shadow hover:[box-shadow:0px_8px_20px_0px_rgba(30,30,30,0.1)] p-8 md:p-8 border border-gray-200 font-poppins h-auto min-h-[500px] md:!h-[512px] w-full md:w-[588px] flex flex-col justify-between"
>
  <!-- Title -->
  <h2 class="text-lg md:text-2xl leading-[140%] font-semibold text-webBlack">
    {datas.data.title}
  </h2>

  <!-- Details -->
  <div class="flex-1">
    <div
      class="mt-3 text-[14px] md:text-[18px] text-webBlack flex flex-col gap-3 md:gap-[18px] font-normal"
    >
      <p><span class="font-normal lg:mt-3">{datas.data.roleType}</span></p>
      <p class="lg:mt-3">Start Date: {datas.data.startDate}</p>
      <p class="lg:mt-3">
        <span class="font-normal"
          >Duration: {datas.data.duration} • Average: {
            datas.data.timeCommitment
          }</span
        >
      </p>
      <p class="lg:mt-3">{datas.data.teamQuote}</p>
      <p class="lg:mt-3">{datas.data.event}</p>
    </div>
  </div>

  <!-- Divider -->
  <hr class="my-6 border-gray-300" />

  <!-- Buttons Section -->
  <div
    class="flex flex-col md:flex-row items-center gap-4 md:gap-[16px] mt-auto"
  >
    <Button
      link={"/work-with-us/opportunities/" + datas.slug}
      title="Explore Opportunity"
      btn="btn3"
      widthClass="w-full md:w-[254px] px-[32px] py-3 !text-base"
    />
    <Button
      link={"/work-with-us/opportunities/" + datas.slug + "/#form"}
      title="Apply Now"
      btn="btn1"
      widthClass="w-full md:w-[254px] px-[32px] py-3"
    />
  </div>
</div>
