---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";

const { data } = await getEntry("volunteering", "why-intern");
---

<section class="max-w-[1296px] mx-auto px-4 md:px-8 py-16">
  <!-- Main Wrapper -->
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <!-- Left Content -->
    <div class="space-y-6 order-1 md:order-2">
      <!-- Heading -->
      <h2
        class="font-merriweather font-normal text-[32px] md:text-[48px] leading-tight tracking-[-2.2%]"
      >
        {data.title}
        
      </h2>

      <!-- Subheading -->
      <p
        class="font-poppins font-normal text-[18px] leading-[36px] text-[#49494C]"
      >
        {data.description}
      </p>

      <!-- Why Intern Section -->
      <div class="space-y-4">
        <h3
          class="font-poppins font-semibold text-[24px] md:text-[32px] text-[#1E1E1E]"
        >
          Why Intern?
        </h3>

        <div class="space-y-6">
          {
            data.whyIntern.map((item) => (
              <div class="flex items-start gap-4">
                <h2 class="font-poppins font-semibold text-[40px] leading-[46.8px] text-[#1E1E1E]">
                  <i class="fa-regular fa-square-check" />
                </h2>
                <div class="space-y-1">
                  <p class="font-poppins font-semibold text-[24px] leading-[46.8px] text-[#1E1E1E]">
                    {item.title}
                  </p>
                  <p class="font-poppins text-[#1E1E1E] font-normal text-[18px] leading-[36px] tracking-[0%]">
                    {item.description}
                  </p>
                </div>
              </div>
            ))
          }
        </div>

  

        <Button
        link="/volunteering"
        title={data.buttonText}
        btn="btn1"
        widthClass="w-[235px]"
        heightClass="h-[60px]"
      />

      </div>

      
    </div>
    <!-- Right Image Placeholder -->
    <div
    class="order-2 md:order-1 w-full h-64 md:h-full rounded-lg overflow-hidden"
  >
    <img
      src={data.image}
      alt="Internship Image"
      class="w-full h-full object-cover"
    />
  </div>
  </div>
</section>
