---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";

const {
  collection,
  slug,
  classes = "",
  textAlignment = "order-2",
  imageAlignment = "order-1",
} = Astro.props;

const entry = (await getEntry(collection, slug)) as any;

const {
  title = "",
  description = "",
  imageTop,
  imageBottom,
  ctaLink = "/",
  ctaText,
  buttonText,
  whyIntern,
  whyVolunteer,
} = entry?.data ?? {};

const reasons = whyIntern?.reasons || whyVolunteer?.reasons || [];
const heading = whyIntern?.heading || whyVolunteer?.heading || "";
---

<section
  class="w-[342px] sm:w-[600px] md:w-[700px] lg:w-[1296px] mx-auto mt-[120px]"
>
  <div
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="120px"
    data-disable-parallax-down="lg"
    class="grid md:grid-cols-2 gap-20 md:gap-16 items-center"
  >
    {
      imageTop && (
        <div class={`relative  md:order-2`}>
          <img
            src={imageTop}
            alt={title}
            class="w-full h-[232px] md:order-2 sm:h-64 md:h-80 lg:h-[406px] lg:w-[596px] lg:ml-16 rounded-[32px] overflow-hidden"
          />
        </div>
      )
    }

    <div
      class="space-y-4 md:order-1 h-[325px] sm:w-[300px] md:w-[500px] lg:w-[636px] lg:h-[284px]"
    >
      <h1
        class="font-merriweather font-normal text-[32px] md:text-[40px] lg:text-[48px] leading-[150%] tracking-[-2.2%] text-[#1e1e1e]"
      >
        {title}
      </h1>
      <p
        class="font-poppins font-normal text-[16px] md:text-[18px] leading-[32px] md:leading-[36px] tracking-[0%] text-[#49494C]
        w-full sm:max-w-[500px] md:max-w-[636px]
        h-auto md:h-[180px]"
      >
        {description}
      </p>
    </div>
  </div>

  <div
    class="grid md:grid-cols-2 gap-[120px] md:gap-16 mt-[88px] md:mt-[164px] lg:h-[685px]"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="120px"
    data-disable-parallax-down="lg"
  >
    <div
      class={`flex flex-col md:gap-12 h-full justify-between lg:w-[636px] ${textAlignment}`}
    >
      {
        reasons.length > 0 && (
          <div class="space-y-6 sm:space-y-8 lg:space-y-8 w-full lg:h-[577px]">
            <h3 class="font-poppins font-medium text-[24px] md:text-[28px] lg:text-[32px] leading-[100%] text-[#1E1E1E]">
              {heading}
            </h3>
            <div class="space-y-6 sm:space-y-8 md:space-y-[40px] w-full  lg:h-[497px]">
              {reasons.map(({ title, text }, index) => (
                <div
                  data-key={index}
                  class="w-full sm:max-w-[500px] md:max-w-[636px] flex flex-col gap-2 sm:gap-4"
                >
                  {/* 1️⃣ Image + Title in one row */}
                  <div class="flex items-start gap-3 sm:gap-4">
                    {/* <img
                      src="/assets/images/volunter/svgs/checkmark-con.svg"
                      alt="icon"
                      class="h-8 w-8 sm:h-10 sm:w-10 lg:h-11 lg:w-11 mt-1"
                    /> */}
                    {/* <i class="fa-solid fa-check text-[30px] lg:text-[44px] text-[#1E1E1E]  lg:mt-1"></i> */}
                    <i class="h2 text-[30px] lg:text-[44px] fw-normal ai-check mt-0 lg:mt-6" />

                    <p
                      class="font-poppins font-semibold text-[20px] sm:text-[22px] lg:text-[24px] 
         lg:leading-[46.8px] text-[#1E1E1E] flex items-center"
                    >
                      {title}
                    </p>
                  </div>

                  {/* 2️⃣ Text below */}
                  <div>
                    <p
                      class="font-poppins sm:ml-16 ml-0 text-[#1E1E1E] font-normal text-[16px] sm:text-[18px] 
        leading-[32px] sm:leading-[36px] tracking-[0%] lg:tracking-[0%]
        w-full sm:max-w-[500px] md:max-w-[566.84px]"
                    >
                      {text}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          </div>
        )
      }

      <div class="mt-10 sm:mt-1">
        <Button
          link="/work-with-us/opportunities/volunteering"
          title={ctaText || buttonText}
          btn="btn1"
          widthClass="w-[342px] sm:w-[300px] lg:w-[252px]"
          heightClass="h-[60px] sm:h-[60px] lg:h-[60px]"
        />
      </div>
    </div>

    <div class={` relative ${imageAlignment} ]`}>
      <img
        src={imageBottom}
        alt={title}
        class="w-[342px] h-[334px] lg:h-[582px] lg:w-[596px] object-cover md:mt-[89.86px] md:mb-[13.14px] rounded-lg overflow-hidden"
      />
    </div>
  </div>
</section>
