---
/*
 * Contact Us Form Component

 * Props:
 * - `form_title`: Title of the form.
 * - `fullname_label`: Label for the full name input field.
 * - `email_label`: Label for the email input field.
 * - `phone_label`: Label for the phone number input field.
 * - `more_label`: Label for the additional information textarea.
 * - `button_label`: Text for the form submission button.
 * - `thankyou_message`: Message displayed in the thank-you popup.
 * - `animation_path`: Path to the Lottie animation file.
 * 
 * Scripts:
 * - `theme.min.js`: Inline script for theme-related functionality.
 * - `common.js`: Inline script for common functionality.
 * - Lottie Player: External script for rendering the Lottie animation.
 * 
 * JavaScript:
 * - A MutationObserver monitors the popup's `style` attribute to detect visibility changes.
 * - The Lottie animation is stopped and replayed when the popup becomes visible.
 */

import { getEntry } from "astro:content";
const form_data = await getEntry("contact", "form");
const {
  form_title,
  fullname_label,
  email_label,
  phone_label,
  more_label,
  button_label,
  thankyou_message,
  animation_path,
} = form_data.data;
---

<script src="/assets/js/theme.min.js" is:inline></script>
<script type="module" src="/assets/js/common.js" is:inline></script>

<section
  id="form"
  class="bg-[#F1F1F1] max-w-[81rem] mx-auto px-4 mb-[10.25rem] md:rounded-2xl"
>
  <div
    id="formframe"
    class="mx-auto px-0 max-w-[50rem] py-[2.5rem] sm:pt-[7.5rem] sm:pb-[10.5rem]"
    style="display: block;"
  >
    <h1
      class="px-1 m-0 pb-[5rem] font-poppins !font-[500] text-center !text-[1.5rem] !md:text-[2rem] tracking-normal !leading-[100%]"
    >
      {form_title}
    </h1>

    <form id="contactForm" class="mx-0">
      <div class="volunteeringForm-input-container m-0 pt-0 pb-[3rem]">
        <label for="full-name">{fullname_label}</label>
        <input
          type="text"
          id="full-name"
          name="full-name"
          placeholder="Your name"
        />
      </div>
      <div class="volunteeringForm-input-container m-0 pt-0 pb-[3rem]">
        <label for="email">{email_label} </label>
        <input type="email" id="email" name="email" placeholder="Your email" />
      </div>
      <div class="volunteeringForm-input-container m-0 pt-0 pb-[3rem]">
        <label for="phone">{phone_label} </label>
        <input type="tel" id="phone" name="phone" placeholder="Your number" />
      </div>
      <div class="volunteeringForm-input-container m-0 pt-0 md:pb-[5rem]  pb-8">
        <label for="more">{more_label} </label>
        <textarea id="message" name="more" rows="5"></textarea>
      </div>

      <button
        type="submit"
        class="form-submit-button h-[60px] px-[2rem] w-full md:w-[11.375rem] rounded-[8px] bg-[#D33C0D] text-[1rem] font-[700] leading-[2rem] text-center border-none cursor-pointer text-white disabled:bg-opacity-70 disabled:cursor-not-allowed hover:bg-[#72321E] active:ring-2 active:ring-[#D33C0D] active:bg-[#72321E]"
        >{button_label}</button
      >
    </form>
  </div>
  <div
    id="pop-up"
    style="display: none;"
    class="md:rounded-2xl bg-[#F1F1F1] max-w-[71rem] mx-auto"
  >
    <div class="max-w-[50rem] mx-auto py-[8rem] overflow-hidden">
      <h1
        class="tracking-normal text-center font-poppins font-[600] text-[1.5rem] md:text-[2rem] leading-[140%]"
      >
        {thankyou_message}
      </h1>
      <script
        src="https://unpkg.com/@lottiefiles/lottie-player@2.0.12/dist/lottie-player.js"
        type="module"></script>

      <lottie-player
        src={animation_path || "/assets/animations/fallback.json"}
        background="transparent"
        speed="1"
        style="max-width: 25rem; max-height: 25rem; overflow: hidden; margin: auto;"
        direction="1"
        playMode="normal"
        autoplay
        id="lottie-player"
      >
      </lottie-player>
    </div>
  </div>

</section>
