---
import { getEntry } from "astro:content";

const {
  title,
  paragraph,
  author,
  testimonial,
  line1,
  line2,
  line3,
  line4,
  line5,
  line6,
  line7,
  line8,
  line9,
  line10,
  line11,
  line12,
  line13,
  line14,
  line15,
  line16,
} = (await getEntry("about", "enduring-spirit")).data;
---

<section class="max-w-[1116px] mx-auto mt-[80px] mb-[64px] md:mb-[96px]">
  <div
    class="flex flex-col mx-auto mt-20 mb-6 md:my-[120px] items-center gap-8 max-w-[636px] p-0"
  >
    <!-- Title -->
    <h1 class="heading-1 text-center text-[#1E1E1E] w-full">
      {title}
    </h1>
    <!-- Poem content -->
    <div
      class="font-poppins font-normal px-3 text-[16px] leading-[36px] text-center text-[#49494C] max-w-[455.23px]"
    >
      {line1}<br />
      {line2}<br /><br />

      {line3}<br />
      {line4}<br /><br />

      {line5}<br />
      {line6}<br /><br />

      {line7}<br />
      {line8}<br /><br />

      {line9}<br />
      {line10}<br /><br />

      {line11}<br />
      {line12}<br /><br />

      {line13}<br />
      {line14}<br /><br />

      {line15}<br />
      {line16}<br /><br />

      <strong>{author}</strong>
    </div>
  </div>

  <div
    class="md:max-w-[1116px] px-4 mx-auto flex flex-col lg:flex-row md:gap-16 gap-6 my-20 md:my-[120px] items-center w-full"
  >
    <div class="mx-auto">
      <img
        class="rounded-3xl max-w-full"
        src="/assets/images/about/yadava.png"
        alt=" yadava.png"
      />
    </div>
    <div class="max-w-[636px] mx-auto">
      <p
        class="font-poppins font-normal text-[#49494C] text-[16px] leading-[36px] tracking-[1px]"
      >
        <strong>{author}</strong>
        {testimonial}
      </p>
    </div>
  </div>
</section>
