---
import { getEntry } from "astro:content";
import ArrowLeft from "./ArrowLeft.astro";
import ArrowRight from "./ArrowRight.astro";
import Button from "../common/button.astro";

const { slug = "vision", arrow, flip = false } = Astro.props as {
  slug: string;
  arrow: string;
  flip: boolean;
};
const data = await getEntry("about", slug);
// console.log(data);

const { title, year, description, button, image, image2 } = data.data;
---
     <!-- Step -->
     <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0 max-w-[1360]">
      <div class={`col-md-6 col-xl-5 flex flex-col  ${flip ? " " : "order-md-2  offset-lg-1"} pb-2 pb-md-0 mb-4 mb-md-0`} data-aos={flip ? "fade-right" : "fade-left"} data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
        <img class=" " src={image} width="525" alt="image">
        {image2 && <img class="" src={image2} width="525" alt="Image"> }
        <img class="d-none d-dark-mode-block" src={image} width="525" alt="Image">
      </div>
      <div class={`col-md-6 col-lg-5 col-xl-4  ${flip ? "" : "order-md-1 offset-xl-1"}`} data-aos={flip ? "fade-left" : "fade-right"} data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
      <div class="pe-md-4 pe-lg-0">
          <span class="badge fs-sm !bg-[#448C741A]  !rounded bg-opacity-10 text-[#00AA5E]  mb-8 px-[10px] py-[7px]">{year}</span>
          <h3 class="h2 mb-3 mb-lg-4 !heading-1">{title}</h3>
          {description.map((para) => (
            <p class="pb-1 pb-lg-0 mb-4 mb-lg-5 body-text-1">{para}</p>

          ))}
          <!-- <button class="btn btn-primary" >sdise</button> -->
          <!-- <Button  href={"button?.path"} type={"btn1"} text={"fser"} /> -->
          {button.type && button.text ? <Button  link={button?.path} btn={button?.type} title={button?.text} widthClass=" !px-4 " heightClass="!h-[60px]"/> : ""}
        </div> 
      </div>
    </div>

    <!-- Arrow -->
     {arrow === "left" && <ArrowLeft/> }
     {arrow === "right" && <ArrowRight/> }
    
     
