---
import { getEntry } from "astro:content";
import ArrowLeft from "./ArrowLeft.astro";
import ArrowRight from "./ArrowRight.astro";
import Button from "../common/button.astro";

const {
  slug = "vision",
  arrow,
  flip = false,
} = Astro.props as {
  slug: string;
  arrow: string;
  flip: boolean;
};
const data = await getEntry("about", slug);


const { title, year, description, button, image, image2 } = data.data;
---

<!-- Step -->
<div
  class="row align-items-center  pb-lg-0   mx-auto"
>
  <div
    class={`col-md-6 col-xl-5 flex flex-col  ${flip ? " " : " order-2  offset-lg-1"} pb-2 pb-md-0 mb-4 mb-md-0`}
    data-aos={flip ? "fade-right" : "fade-left"}
    data-aos-duration="500"
    data-aos-offset="250"
    data-disable-parallax-down="md"
  >
    <img class=" !rounded-3xl" src={image} width="525px" alt="image" />
    {image2 && <img class=" !rounded-3xl" src={image2} width="525px" alt="Image" />}
    <img class="d-none d-dark-mode-block" src={image} width="525px" alt="Image" />
  </div>
  <div
    class={`col-md-6 col-lg-5 col-xl-4 text-start  ${flip ? " offset-xl-1 " : " order-1 offset-xl-1"}`}
    data-aos={flip ? "fade-left" : "fade-right"}
    data-aos-duration="500"
    data-aos-offset="250"
    data-disable-parallax-down="md"
  >
    <div class="pe-md-4 pe-lg-0 !mb-4">
      <span
        class="badge fs-sm !bg-[#448C741A]  md:!rounded-[4px] !rounded-[8px] bg-opacity-10 text-[#00AA5E] mb-8 px-[10px] "
        >{year}</span
      >
      <h3 class="h2 mb-3 mb-lg-4 !heading-1">{title}</h3>
      {
        description.map((para) => (
          <p class=" text-pretty md:text-justify text-start max-w-[416px]  pb-1 pb-lg-0 mb-4 mb-lg-5 body-text-1">{para}</p>
        ))
      }
      <!-- <button class="btn btn-primary" >sdise</button> -->
      <!-- <Button  href={"button?.path"} type={"btn1"} text={"fser"} /> -->
      {
        button.type && button.text ? (
          <Button
            link={button?.path}
            btn={button?.type}
            title={button?.text}
            widthClass=" !px-4 !md:w-[235px] w-full mb-5"
            heightClass="!h-[60px]"
          />
        ) : (
          ""
        )
      }
    </div>
  </div>
</div>

<!-- Arrow -->
{arrow === "left" && <ArrowLeft />}
{arrow === "right" && <ArrowRight />}
