---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";
const panterForProgress = await getEntry("about", "panter-for-progress");
const { title, paragraph, button, image } = panterForProgress.data;
console.log(button);
---

<section class="bg-[#F1F1F1] my-auto px-4">
  <div
    class="flex flex-col-reverse md:flex-row justify-center items-center gap-16 mx-auto max-w-[1296px] py-[160px]"
  >
    <div class="max-w-[636px]">
      <h1 class="heading-1 mb-8">Partner for Progress</h1>
      {paragraph.map((para) => <p class=" body-text-1 mb-4">{para}</p>)}

      <div class="flex flex-col md:flex-row gap-4 mt-12">
        {
          button.map(
            (btn) => (
              console.log(btn.button),
              (
                <Button
                  btn={btn.type}
                  title={btn.button}
                  link={btn.path}
                  widthClass=""
                  heightClass="h-[60px]"
                />
              )
            )
          )
        }
        <Button />
        <Button />
      </div>
    </div>
    <div class="">
      <img class="" src={image} alt="" width="592px" height="502px" />
    </div>
  </div>
</section>
