---
import "aos/dist/aos.css";
import "jarallax/dist/jarallax.min.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/common/Header.astro";

import { getEntry } from "astro:content";
const entry = (await getEntry("pages", "privacy-policy")) as any;

const {
  title = "",
  info1 = "",
  info2 = "",
  info3 = "",
  info4 = "",
  info5 = "",
  info6 = "",
  info7 = "",
  info8 = "",
  info9 = "",
  info10 = "",
  info11 = "",
  info12 = "",
  info13 = "",
  info14 = "",
  info15 = "",
  info16 = "",
  info17 = "",
  info18 = "",
  info19 = "",
  info20 = "",
  info21 = "",
  info22 = "",
  info23 = "",
  info24 = "",
  info25 = "",
  info26 = "",
  info27 = "",
  info28 = "",
  info29 = "",
  head1 = "",
  head2 = "",
  head3 = "",
  head4 = "",
  head5 = "",
  head6 = "",
  head7 = "",
  head8 = "",
  head9 = "",
  head10 = "",
  head11 = "",
  head12 = "",
  head13 = "",
  mail = "",
} = entry?.data ?? {};
---

<script src="/assets/js/theme.min.js" is:inline></script>
<script>
  import AOS from "aos";
  AOS.init();
</script>
<script src="jarallax/dist/jarallax.min.js"></script>
<script src="simplebar/dist/simplebar.min.js"></script>
<link rel="stylesheet" href="/assets/css/theme.min.css" />
<link rel="stylesheet" href="/assets/icons/around-icons.min.css" />

<Layout title="Privacy Policy - Kiran Foundation">
  <main class="page-wrapper">
    <Header />

    <section class="privacy-policy-section">
      <div id="space"></div>
      <div class="container main-box">
        <h2 class="page_title">{title}</h2>
        <ul>
          <li>
            <p>{info1}</p>
          </li>
          <li>
            <p>
              {info2}
            </p>
          </li>
          <li>
            <p>
              {info3}
            </p>
          </li>
        </ul>
        <p class="head">{head1}</p>
        <p>{info8}</p>
        <p class="head">{head2}</p>
        <ul>
          <li>
            <p>
              {info4}
            </p>
          </li>
          <li>
            <p>
              {info5}
            </p>
          </li>
        </ul>
        <p class="head">{head3}</p>
        <ul>
          <li>
            <p>
              {info6}
            </p>
          </li>
        </ul>
        <p class="head">{head4}</p>
        <ul>
          <li>
            <p>
              {info7}
            </p>
          </li>
        </ul>
        <p class="head">{head5}</p>
        <ul>
          <li>
            <p>
              {info9}
            </p>
          </li>
          <li>
            <p>
              {info10}
            </p>
          </li>
        </ul>
        <p class="head">{head13}</p>
        <ul>
          <li>
            <p>
              {info11}
            </p>
          </li>
          <li>
            <p>
              {info12}
            </p>
          </li>
        </ul>
        <p class="head">{head6}</p>
        <p>
          {info13}
        </p>
        <ul>
          <li><p>{info14}</p></li>
          <li>
            <p>
              {info15}
            </p>
          </li>
          <li>
            <p>
              {info16}
            </p>
          </li>
          <li><p>{info17}</p></li>
          <li>
            <p>
              {info18}
            </p>
          </li>
          <li><p>{info19}</p></li>
          <li><p>{info20}</p></li>
        </ul>
        <p class="head">{head7}</p>
        <p>{info21}</p>
        <p class="head">{info22}</p>
        <ul>
          <li>
            <p>
              {info23}
            </p>
          </li>
          <li>
            <p>
              {info24}
            </p>
          </li>
        </ul>
        <p class="head">{head8}</p>
        <ul>
          <li>
            <p>
              {info25}
            </p>
          </li>
        </ul>
        <p class="head">{head9}</p>
        <p class="head">{head10}</p>
        <ul>
          <li>
            <p>
              {info26}
            </p>
          </li>
          <li>
            <p>
              {info27}
            </p>
          </li>
        </ul>
        <p class="head">{head11}</p>
        <ul>
          <li>
            <p>
              {info28}
            </p>
          </li>
        </ul>
        <p class="head">{head12}</p>
        <p>
          {info29}<a href="mailto:info@kiran.foundation" class="links">{mail}</a
          >.
        </p>
      </div>
    </section>
  </main>
</Layout>
<style>
  /* Custom styles for privacy policy page */

  .page-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .privacy-policy-section {
    padding: 2rem;
    background: #fff;
    width: 100vw;
  }
  #space {
    height: 6rem;
  }
  .head {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .main-box {
    width: 80%;
  }
  @media (max-width: 575px) {
    .main-box {
      width: 100%;
    }
    .privacy-policy-section {
      font-size: 16px;
      padding: 1rem;
    }
  }
</style>
