---
import { getEntry } from "astro:content";
const hero = (await getEntry("home", "hero")).data;
import Button from "../common/button.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
</style>

<!-- ---------------1st section ----------------------- -->
<div class="mt-[5.5rem] relative overflow-hidden">
  <section class="slider hidden sm:block relative transition-all duration-1000">
    <div class="relative h-[500px] sm:h-[550px] md:h-[600px] lg:h-[780px]">
      <img
        src="/assets/images/Homepage/home-1.png"
        alt="loading"
        class="w-full h-full object-cover object-center"
      />

      <!-- Text Content -->
      <div class="absolute inset-0 flex items-center p-4 sm:p-6 md:p-8">
        <div
          class="max-w-xl xl:max-w-3xl left-4 sm:left-6 md:left-12 lg:left-0 xl:left-32 relative lg:-translate-y-16"
        >
          <h1
            class="text-2xl xs:text-3xl sm:text-4xl md:text-5xl xl:text-[64px] xl:leading-[96px] font-bold mb-4 sm:mb-10 md:leading-tight leading-relaxed text-[#FFFFFF]"
            style="font-family: 'Merriweather', serif;"
          >
            {hero.title}
          </h1>

          <p
            class="text-base sm:text-lg md:text-xl mb-6 sm:mb-8 md:mb-12 max-w-[500px] md:max-w-[600px] text-[#CFCFCF]"
            style="font-family: 'Merriweather', serif;"
          >
            {hero.titlehero}
          </p>
          <Button link="/volunteering" title="Become a Volunteer" btn="btn1" />
        </div>
      </div>
    </div>
  </section>
  <!-- ------------------------2nd section-------------------- -->
  <section
    class="slider hidden sm:block absolute top-0 right-0 left-0 translate-x-full transition-all duration-1000"
  >
    <div class="relative h-[500px] sm:h-[550px] md:h-[600px] lg:h-[780px]">
      <img
        src="/assets/images/Homepage/home-1.2.png"
        alt="loading"
        class="w-full h-full object-cover object-center"
      />

      <!-- Text Content -->
      <div class="absolute inset-0 flex items-center p-4 sm:p-6 md:p-8">
        <div
          class="max-w-xl xl:max-w-3xl left-4 sm:left-6 md:left-12 lg:left-0 xl:left-32 relative lg:-translate-y-16"
        >
          <h1
            class="text-2xl xs:text-3xl sm:text-4xl md:text-5xl xl:text-[64px] xl:leading-[96px] font-bold mb-4 sm:mb-10 md:leading-tight leading-relaxed text-[#FFFFFF]"
            style="font-family: 'Merriweather', serif;"
          >
            {hero.title}
          </h1>

          <p
            class="text-base sm:text-lg md:text-xl mb-6 sm:mb-8 md:mb-12 max-w-[500px] md:max-w-[600px] text-[#CFCFCF]"
            style="font-family: 'Merriweather', serif;"
          >
            {hero.titlehero}
          </p>
          <Button link="/volunteering" title="Become a Volunteer" btn="btn1" />
        </div>
      </div>
    </div>
  </section>
  <!-- -------------------mobile view ----------------- -->
  <section class="sm:hidden block relative">
    <div class="relative h-[760px]">
      <!-- Image with responsive gradient overlay -->
      <img
        src="/assets/images/Homepage/home-2.png"
        alt="loading"
        class="w-full h-full object-cover object-center"
      />

      <!-- Text Content Container -->
      <div class="absolute inset-0 flex flex-col p-4 justify-between">
        <!-- Title at Top -->
        <h1
          class="text-4xl leading-[3.3rem] font-bold pt-2 text-white"
          style="font-family: 'Merriweather', serif;"
        >
          {hero.title}
        </h1>

        <!-- Bottom-aligned Content -->
        <div class="pb-2">
          <p
            class="text-xl mb-10 text-gray-300"
            style="font-family: 'Merriweather', serif;"
          >
            {hero.titlehero}
          </p>
          <Button
            link="/volunteering"
            title="Become a Volunteer"
            btn="btn1"
            width="w-full"
          />
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sliders = document.querySelectorAll(".slider") as any;

    if (sliders.length < 2) return; // Ensure there are at least two sliders

    let one = sliders[0];
    let two = sliders[1];

    one.style.zIndex = "2";
    two.style.zIndex = "1";

    setInterval(() => {
      // Move the first slide out of view
      one.style.transform = "translateX(-100%)";
      one.style.zIndex = "1";

      two.style.transform = "translateX(0%)";
      two.style.zIndex = "2";

      setTimeout(() => {
        one.style.transform = "translateX(100%)";

        // Swap references
        let temp = one;
        one = two;
        two = temp;
      }, 2000);
    }, 7000);
  });
</script>
