---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";

const volunteer = (await getEntry("home", "volunteer")).data;
---

<!-- <Heading title={volunteer.sectionTitle} />  -->
<div
  class="flex items-center justify-center flex-col text-center px-4 py-12 space-y-4 mb-5"
>
  <h2
    class="text-3xl md:text-4xl xl:text-[2.6rem] mb-3 font-merriweather text-wrap"
  >
    {volunteer.join}
  </h2>
  <p class="max-w-[51rem] xl:max-w-4xl mx-auto text-lg ms:text-2xl font-poppins">
    {volunteer.join_description}
  </p>
</div>

<section class="container mx-auto px-4 sm:px-6 lg:px-8">
  <div class="text-center space-y-4 mt-12 mb-16">
    <h2 class="text-xl md:text-2xl xl:text-[2rem] font-bold font-merriweather">
      {volunteer.heading}
    </h2>
  </div>

  <div class="mt-6 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {/* Volunteer Position Items */}
      {
        [1, 2, 3].map((index) => (
          <div class="border border-[#9c9c9c] rounded-xl p-10 flex flex-col justify-between items-center group">
            <h3 class="font-poppins text-2xl font-semibold mb-3 text-gray-800">
              {volunteer[`volunteerRole${index}`].title}
            </h3>
            <p class="font-poppins text-gray-600 mb-2">
              {volunteer[`volunteerRole${index}`].description}
            </p>
            <p class="font-poppins text-gray-600 mb-4">Minimum Commitment</p>
            <Button
              link={volunteer[`volunteerRole${index}`].link}
              title="Learn More"
              btn="btn3"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<section class="lg:container mx-auto px-4 py-12 mt-5 overflow-hidden">
  <div class="flex flex-col md:flex-row items-center justify-end">
    <div
      class="w-full md:w-1/2 flex md:hidden justify-center items-center mb-10"
      data-aos="fade-right"
      data-aos-duration="600"
      data-aos-offset="280"
      data-disable-parallax-down="sm"
    >
      <img
        class="rounded-lg w-full h-full xl:w-[82%] xl:h-[80%]"
        src="/assets/images/Homepage/why.png"
        alt="Pratibha program illustration"
        loading="lazy"
      />
    </div>
    <div class="w-full md:w-1/2 xl:w-2/5 space-y-4 font-poppins px-2 md:px-0">
      <h2 class="text-2xl md:text-3xl lg:text-4xl mb-10 font-bold font-poppins">
        {volunteer.title}
      </h2>
      <p class="text-md sm:text-lg mb-4 leading-relaxed">
        {volunteer.join_why1}
      </p>
      <p class="text-md sm:text-lg mb-4 leading-relaxed">
        {volunteer.join_why2}
      </p>
      <Button link="/volunteering" title="Become a Volunteer" btn="btn1" />
      <Button link="/volunteering" title="See All Positions" btn="btn3" />
    </div>
    <div
      class="w-full md:w-1/2 hidden md:flex justify-center items-center"
      data-aos="fade-right"
      data-aos-duration="600"
      data-aos-offset="280"
      data-disable-parallax-down="sm"
    >
      <img
        class="rounded-lg w-full h-full xl:w-[82%] xl:h-[80%]"
        src="/assets/images/Homepage/why.png"
        alt="Pratibha program illustration"
        loading="lazy"
      />
    </div>
  </div>
</section>
