---
import { getEntry } from "astro:content";
import MessageCard from "./MessageCard.astro";
const courseDetails = await getEntry("shakti", "financial-skills/course-details");
const { title, messageCard,image } = courseDetails.data;

---

<div class="mx-auto max-w-[1260px] px-4">
  <div class="flex md:gap-2 gap-0 lg:flex-row flex-col">
    <div class="md:w-[48.5rem] ">
      <h3 class="md:w-[736px] heading-1 md:mb-32 mb-[32px] ">{title}</h3>
      
      {
        messageCard.map((card) => (
          <MessageCard
            type={card.type}
            mentorImage={card.mentorImage}
            mentor={card.mentor}
            message={card.message}
          />
        ))
      }
      
      
    </div>
    <div class="my-auto mx-auto">
      <img
        src={image}
        alt=""
        width="500px"
        loading="lazy"
      />
    </div>
  </div>
</div>
