---
const {
  type,
  mentor,
  mentorImage,
  message = "Can you tell me more about the course?",
} = Astro.props;
---

{
  type === "send" ? (
    <div class="heading-4 w-full  py-3 md:py-2 self-center flex md:flex-row flex-col-reverse md:w-fit  justify-end  rounded-lg md:mb-[80px] mb-[48px] p-4 xs:p-0    bg-[#D9F3E6]" 
     data-aos="fade-right"
          data-aos-duration="500"
          data-aos-offset="280"
          data-disable-parallax-down="lg"
          
          >
      <h3 class="md:self-center font-poppins font-normal md:text-[24px] text-[18px] leading-[36px] tracking-normal align-middle !text-[#1E1E1E]">
        {message}
      </h3>
      <div class="md:self-center  md:ml-10">
        <img src={mentorImage} alt="" width="120px" class=" rounded-full !max-w-none " />
        <h4 class="text-[#1E1E1E] body-text-2 md:text-center">{mentor}</h4>
      </div>
    </div>
  ) : (
    <div class="heading-4 py-3 md:py-2  self-center flex md:flex-row-reverse flex-col-reverse  w-fit  rounded-lg md:mb-[80px] mb-[48px] p-4 xs:p-0  bg-[#F1F1F1]" 
    data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-offset="280"
          data-disable-parallax-down="sm"
          
    >
      <h3 class=" md:self-center  font-poppins font-normal md:text-[24px] text-[18px] leading-[36px] tracking-normal align-middle !text-[#1E1E1E]">
        {message}
        
      </h3>
      <div class="md:self-center md:mr-10">
        <img
          src={mentorImage}
          class=" rounded-full !max-w-none"
          alt=""
          width="120px"
        />
        <h4 class="text-[#1E1E1E] body-text-2 md:text-center">{mentor}</h4>
      </div>
    </div>
  )
}
