---
import { getEntry } from "astro:content";
import MessageCard from "./MessageCard.astro";
const { collection, slug,css } = Astro.props;
const data = await getEntry(collection, slug) as {
  data: {
    title: string;
    messageCard: {
      type: string;
      mentorImage: string;
      mentor: string;
      message: string;
    }[];
  };
};
const {title, messageCard }=  data.data;
---

<div class=`mx-auto max-w-[1260px] ${css}`>
  <div class="flex gap-2 flex-col mx-4" >
    <div class="lg:w-[1056px] mx-auto">
      { messageCard.map((message,index) => (
         <div class=`${index% 2 == 0 ? "justify-end flex" : ""}`>
        <MessageCard
          type={message.type}
          mentorImage={message.mentorImage}
          mentor={message.mentor}
          message={message.message}
        />
      </div>))
      }
     
    </div>
  </div>
</div>
