---
// Main Component (e.g., VideoSection.astro)

import VideoCard from './VideoCard.astro';
import Heading from './Heading.astro';
import { getEntry } from 'astro:content';
const { collection, slug,className,bg } = Astro.props;
const entry = await getEntry(collection, slug);
const { title, videos } = (entry as { data: { title: string; videos: any[] } }).data;

---

<section class=`max-w-[1296px] mx-auto ${className}`>

<Heading title={title} head='heading-1' />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-[1296px] mx-auto">
    {videos.map((video) => (
      <VideoCard videoUrl={video.videoUrl} alt={video.alt}  desc  = {video.desc} />
    ))}
  </div>
</section>
