---
const { link, title, btn ,width = "w-auto" } = Astro.props;
---

{btn === "btn1" && (
  <button
    onclick={`window.location.href='${link}'`}
    class={`font-poppins font-medium ${width}  px-3 sm:px-5 md:px-6 py-2 sm:py-3 md:py-5 h-12  text-base lg:text-base rounded-md sm:rounded-lg transition-all bg-[#D33C0D] text-white hover:bg-[#72321E] active:ring-2 active:ring-[#D33C0D] active:bg-[#72321E] `}
  >
    {title}
  </button>
)}

{btn === "btn2" && (
  <button
    onclick={`window.location.href='${link}'`}
    class={`font-poppins font-medium  px-3 sm:px-5 md:px-6 py-2 sm:py-3 md:py-8  h-12 text-xs sm:text-sm lg:text-base rounded-md sm:rounded-lg bg-[#00AA5E] transition-all text-black hover:bg-[#00FF8D] active:ring-2 active:ring-[#00AA5E] active:bg-[#00FF8D]`}
  >
    {title}
  </button>
)}

{btn === "btn3" && (
  <button
    onclick={`window.location.href='${link}'`}
    class="font-poppins font-medium w-auto lg:min-w-48 ring-1 ring-[#444444]  px-3 sm:px-5 md:px-6 py-2 sm:py-3 md:py-8 lg:text-base h-12 text-sm sm:text-sm  rounded-md sm:rounded-lg transition-all  text-black hover:bg-[#EFEDED] active:ring-2 active:ring-[#D33C0D] active:bg-white"
  >
    {title}
  </button>
)}
