---
import { getEntry } from "astro:content";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
const { collection, slug } = Astro.props;
const faq = await getEntry(collection, slug) as { data: { title: string,  title2: string, paragraph: string, questions: { question: string, answer: string }[] } };
const {title,title2, paragraph,questions} = faq.data ?? {};
// import { Accordion, AccordionContent, AccordionItem, AccordionTrigger } from "@/components/ui/accordion";
const {mt} = Astro.props;


---
<PratibhaLayout mt={mt}>

<!-- <section class="w-full max-w-[95%] mx-auto  flex flex-col md:flex-row gap-[7.5rem]"> -->
 <Fragment slot="content">
    <div class="w-full md:w-2/5"> <h2 class="font-poppins text-[2.125rem] font-bold text-gray-900 mb-2">{title}</h2>
        <h3 class="text-4xl font-bold text-[#1E1E1E] mb-6 font-poppins">{title2}</h3>
        
        <p class="text-[#49494C] font-[450] text-wrap text-[15px] md:min-w-[416px] md:max-h-[82px] md:pr-8 font-poppins">
          {paragraph}
        </p>
      </div>
    </Fragment>
 <Fragment slot="image-grid">
      
      <div class="w-full md:w-3/5 pt-[1.5rem]">
        <div class="space-y-4">
          {questions.map((item, index) => (
            <div  class=" border-[#1E1E1E] border-solid border-[0.0313rem] rounded-lg overflow-hidden">
              <details class="group">
                <summary class=" font-poppins w-full px-6 py-4 flex items-center justify-between text-left font-medium cursor-pointer">
                  <span class="text-left  font-poppins text-sm font-[500]  text-[#383D38]">{item.question}</span>
                  <div class="flex items-center justify-center">
                    {/* <Plus class="h-5 w-5 shrink-0 text-gray-500 group-open:hidden" /> */}
                    {/* <Minus class="h-5 w-5 shrink-0 text-gray-500 hidden group-open:block" /> */}
                  </div>
                </summary>
                <div class="answer px-6 py-3 text-[#383D38] border-[#1E1E1E] border-solid border-t-[0.0313rem] font-normal text-[0.875rem]  font-Inter">
                  {item.answer}
                </div>
              </details>
            </div>
          ))}
        </div>
      </div>
    </Fragment>
    <!-- </section> -->
  </PratibhaLayout>
