---
import { getEntry } from "astro:content";

const { collection, slug } = Astro.props;
const faq = (await getEntry(collection, slug)) as {
  data: {
    title: string;
    title2: string;
    paragraph: string;
    questions: { question: string; answer: string }[];
  };
};
const { title, title2, paragraph, questions } = faq.data ?? {};

const { mt } = Astro.props;
---
<section
  class=`md:max-w-[80rem] mx-auto max-w-[98%] flex flex-col px-[1.5rem] md:flex-row  lg:gap-[7.5rem] md:gap-[1.5rem] overflow-hidden   ${mt}  `
  
  
>
  <div class="w-full md:max-w-[26rem]"
  data-aos="fade-left"
  >
    <h2 class="pratibha-subheading  mb-2">
      {title}
    </h2>
    <h3 class="pratibha-subheading  mb-6 font-poppins">
      {title2}
    </h3>

    <p
      class="  md:min-w-[416px] md:max-h-[82px] md:pr-8 pratibha-description"
    >
      {paragraph}
    </p>
  </div>

  <!-- faq ques ans -->
  <div class="w-full md:max-w-[47.5rem] pt-[1.5rem] overflow-hidden">
    <div class="space-y-4" 
    >
      {
        questions.map((item) => (
          <div class=" border-[#1E1E1E] border-solid border-[0.0313rem] rounded-lg overflow-hidden" 
          data-aos="fade-right">
            <details class="group">
              <summary class="font-poppins  text-[#383D38] align-middle w-full px-6 py-4 flex items-center justify-between text-left font-medium cursor-pointer">
                <span class=" pratibha-description text-left font-poppins  font-medium text-[#383D38] align-middle">
                  {item.question}
                </span>
                <span class="ml-4">
                  <!-- Plus icon (visible when closed) -->
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="block group-open:hidden"
                  >
                    <path
                      opacity="0.8"
                      d="M8 3V13M3 8H13"
                      stroke="#1E1E1E"
                      stroke-linecap="round"
                    />
                  </svg>
                  <!-- Minus icon (visible when open) -->
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="hidden group-open:block"
                  >
                    <path
                      opacity="0.8"
                      d="M2.5 7.5H13.5"
                      stroke="#1E1E1E"
                      stroke-linecap="round"
                    />
                  </svg>
                </span>
              </summary>
              <div class="answer font-Inter px-6 py-3 text-[#383D38] border-[#1E1E1E] border-solid border-t-[0.0313rem] font-normal text-[0.9437rem] align-middle">
                {item.answer}
              </div>
            </details>
          </div>
        ))
      }
    </div>
  </div>
</section>