---
import { getEntry } from "astro:content";
const footerDetails = (await getEntry("footer", "details")).data;
---

<!-- Footer -->
<footer class="footer">
  <div
    class="py-5 d-flex justify-content-center align-items-center bg-[#141414]"
  >
    <div class="container max-w-[1296px]">
      <div class="row text-center">
        <!-- Logo & Description text-md-start -->
        <div class="col-sm-6 col-md-3 text-white">
          <div class="logo-container">
            <a class="footer navbar-brand px-1" href="/">
              <img
                src="/Logo.png"
                width="107"
                height="66.61"
                alt="kiran foundation logo"
              />
            </a>
          </div>
          <p class="text-xs text-left font-poppins px-2 py-1 text-white">
            {footerDetails.description}
          </p>
          <p
            class="text-xs text-left font-poppins font-thin px-2 py-1 italic text-white"
          >
            " {footerDetails.by} "
          </p>
          <div class="d-flex flex-row gap-2 mt-3 ml-2">
            <!-- justify-content-md-start -->

            <a
              class="btn btn-secondary btn-icon btn-sm rounded-circle"
              href="https://www.instagram.com/kiran_trust/"
              aria-label="Instagram"
            >
              <i class="ai-instagram"></i>
            </a>
            <a
              class="btn btn-secondary btn-icon btn-sm rounded-circle"
              href="https://www.facebook.com/foundation.kiran"
              aria-label="Facebook"
            >
              <i class="ai-facebook"></i>
            </a>
            <a
              class="btn btn-secondary btn-icon btn-sm rounded-circle"
              href="https://www.linkedin.com/company/kirantrust/"
              aria-label="LinkedIn"
            >
              <i class="ai-linkedin"></i>
            </a>
          </div>
        </div>

        <!-- About Section -->
        <div
          class="col-sm-6 col-md-3 mt-4 pt-4 mt-md-0 d-flex align-item-center justify-content-center"
        >
          <div>
            <ul class="nav flex flex-col items-start">
              <li class="mb-4">
                <a
                  href="/about"
                  class="text-white font-poppins font-semibold text-lg hover:border-b-[1px]"
                  style="color:black;"
                >
                  {footerDetails.aboutTitle.about}
                </a>
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="/compliance">{footerDetails.aboutTitle.compliance}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="/newsletter">{footerDetails.aboutTitle.newsletter}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="/privacy-policy">{footerDetails.aboutTitle.policy}</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Contact Section -->
        <div
          class="col-sm-6 col-md-3 mt-4 pt-4 mt-md-0 d-flex align-item-center justify-content-center"
        >
          <div>
            <ul class="flex flex-col items-start">
              <li class="mb-4">
                <a
                  class="text-white font-poppins font-semibold text-lg hover:border-b-[1px]"
                  href="/contact"
                  style="color:black;"
                >
                  {footerDetails.contactTitle.contact}
                </a>
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="mailto:info@kiran.foundation"
                >
                  {footerDetails.contactTitle.info}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="tel:919303997100"
                >
                  {footerDetails.contactTitle.phone}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="https://wa.me/919880141412"
                >
                  {footerDetails.contactTitle.whatsApp}</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- Volunteering Section -->
        <div
          class="col-sm-6 col-md-3 mt-4 pt-4 mt-md-0 d-flex align-item-center justify-content-center"
        >
          <div>
            <ul class="flex flex-col items-start">
              <li class="mb-4">
                <h4
                  class="text-white font-poppins font-semibold text-lg hover:border-b-[1px] m-0 p-0 hover:!text-orange-600 h-7"
                >
                  {footerDetails.listTitle.heading}
                </h4>
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="/volunteering/opportunities/volunteering"
                >
                  {footerDetails.listTitle.volunteerWithUs}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="volunteering/opportunities/internship"
                >
                  {footerDetails.listTitle.internshipOpportunities}</a
                >
              </li>
              <li>
                <a
                  class="text-white font-poppins font-thin hover:border-b-[1px]"
                  href="/become-mentor"
                >
                  {footerDetails.listTitle.becomeMentor}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="footer-copy-right p-2 text-center text-body-secondary mt-3">
        &copy; Kiran Foundation
      </div>
    </div>
  </div>
</footer>
