---
import { getCollection } from "astro:content";

const { collection } = Astro.props;

// Gives entries with .slug + .data
const people = await getCollection(collection);
---

<div class="row row-cols-1 row-cols-sm-2 g-4 max-w-[1296px] mx-auto mt-[96px] mb-[196px]">
  {
    people.map((person) => (
      <div class="col max-w-[400px] group">
        <a
          href={`/pratibha/current-students/${person.slug}`}
          class="block"
        >
          <div class="card-hover pb-4 flex flex-col items-center">
            <img
              src={person.data.image}
              alt={person.data.name}
              class="rounded-3xl"
              loading="lazy"
            />

            <h3 class="mt-4 text-center heading-3">
              {person.data.name}
            </h3>

            <p class="text-center text-[#1E1E1E]">
              {person.data.role}
            </p>
          </div>
        </a>
      </div>
    ))
  }
</div>

