---
export interface Props {
  image: string
  name: string
  location: string
  text: string
}

const { image, name, location, text } = Astro.props
---

<div class='testimonial-container mt-5 bg-[#F1F1F1] px-4'>
  <img src={image} alt={name} class='testimonial-image' />
  <p class='fs-sm p-2 lg:px-4 overflow-auto text-[#272727] font-poppins leading-6' >{text}</p>
  <p class='testimonial-info font-poppins '>
    <div class='testimonial-name font-poppins'>{name}</div>
    <div class='testimonial-location font-poppins'>{location}</div>
  </p>
</div>
