<<<<<<< HEAD
=======
<<<<<<< HEAD
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
=======
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> origin/values-component
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
=======
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
>>>>>>> fd5963e9d4481be5996766982118889e889f458a
>>>>>>> e635615 (conflict-resolved)
=======
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
>>>>>>> astro
=======
---
const { update } = Astro.props;
---

<div class="col text-center pt-2 update-card" data-date={update.date}>
    <a
      class="card-hover d-inline-block text-decoration-none"
      href={update.link}
    >
      <img
        class=" d-block rounded-5 mb-3"
        src={update.featured_image}
        width="370"
        alt={update.title}
      />
      <h3 class="update-title h5 mb-1">{update.title}</h3>
      <p class="update-description mb-0 text-body-secondary">
        {update.summary}
      </p>
      <p class="update-date mb-0 text-body-secondary">
        <small>
          Posted on: {new Date(update.date).toLocaleDateString()}
        </small>
      </p>
    </a>
>>>>>>> astro
>>>>>>> 9f2aef8 (merge-conflict-resolved)
  </div>
>>>>>>> origin/values-component
