---
import { getEntry } from "astro:content";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
const benefits = (await getEntry("pratibha", "benefits")).data;
const image1 = '/assets/images/pratibha_page/group-1.png';
const image2 = '/assets/images/pratibha_page/group-2.png';
const {mt} = Astro.props;
const {covers,supports,title,description} = benefits;

---

<PratibhaLayout mt={`${mt} `}>
  <div slot="content" class="ds">
    <div class="hero-contain    flex flex-col md:flex-row gap-16">
      <div class="hero-content max-w-[100%] mx-auto ">
    <h1 class="hero-title">{title}</h1>
    {description.map((item) =>
     <p class="hero-description  break-words">
       {item}
     </p>
     )}
    
    {supports.map((item) => 
    <div class="financial-support">
      <h2 class="support-title">{item?.support}</h2>
      <p class="support-description">
      {item?.desc}
      </p>
    </div>
    )}

    <div class="support-items">
      <h3 class="support-subtitle">What we cover</h3>
      <div class="support-list">
      {covers.map((items) => 
      <div class="support-item">
        <div class="support-icon">
          <img src={items.svg} alt="" width="44" height="44">
          </div>
        <div class="support-text font-poppins">{items.title}</div>
      </div>
      )}
      </div>
    </div>
  </div>
</Fragment>
<Fragment slot="image-grid">
  <div class="kiran-images md:max-w-[596px] mx-auto">
    <div class="image-top">
      <img 
        src={image1} 
        alt="Students from Kiran Foundation" 
        class="kiran-image" 
      />
    </div>
    <div class="image-bottom">
      <div class="image-bottom-left">
        <img 
          src={image2} 
          alt="More students from Kiran Foundation" 
          class="kiran-image-small" 
        />
      </div>
      <div class="image-bottom-right">
        <div class="orange-box"></div>
      </div>
    </div>
  </div>
</div>
</Fragment>
</PratibhaLayout>

<style>
h1 {
  width: 100%;
}
.hero-sectidon {
  background-color: #ffffff;
  font-family: 'Source Serif Pro', serif;
  padding: 3rem 0rem;
  overflow: hidden;
}

.hero-container {
  display: flex;
  margin: 0 auto;
}

.hero-content {
  flex: 1;
}

.hero-title {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: -2.2%;
  margin-left: 0%;
}

.hero-description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2rem;
  letter-spacing: 0%;
  color: #49494C;
  padding: 1.5rem 0;
}

.financial-support {
  margin-bottom: 2.5rem;
}

.support-title {
  color: #1E1E1E;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.support-description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7rem;
  letter-spacing: 0%;
  color: #49494C;
  padding: 1.5rem 0;
}

.support-subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 1.5rem 0;
  color: #49494C;
}

.support-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.support-item {
  display: flex;
  font-size: 1.124rem;
  align-items: center;
  gap: 1.5rem;
}

.support-icon {
  width: 33px;
  height: 33px;
}

.support-text {
  color: #333;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-images {
  flex: 1;
  position: relative;
  min-height: 600px;
  margin-left: 3rem;
}

.hero-image-top, 
.hero-image-bottom {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.hero-image-top {
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}

.hero-image-bottom {
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 1;
}

.hero-image-top img,
.hero-image-bottom img {
  width: 100%;
  height: auto;
  display: block;
}

.kiran-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.image-top, 
.image-bottom {
  width: 100%;
}

.image-bottom {
  display: flex;
  gap: 1rem;
}

.image-bottom-left {
  flex: 2;
}

.image-bottom-right {
  flex: 1;
}

.kiran-image {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  aspect-ratio: 6/3;
}

.kiran-image-small {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  aspect-ratio: 16/9;
}

.orange-box {
  background-color: #FF5C00;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  aspect-ratio: 1/1;
}
@media (max-width: 1024px) {
   .hero-contain {
    flex-direction: column;
    
  }
  .kiran-images {
      
      width: 100%;
    }
    .ds {
      max-width: 39.5rem;
    }
}
{/* 
  .hero-container {
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }
  .kiran-image {
    height: 100%;
  }
  .hero-title {
    font-size: 3rem;
  }
  .support-title {
    font-size: var(--font-title-sub);
  }
  .hero-images {
    min-height: 500px;
  }
}

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .hero-content {
    padding-right: 0;
    width: 100%;
  }
  .hero-title {
    font-size: 2.8rem;
  }
  .hero-images {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
  }
  .hero-image-top,
  .hero-image-bottom {
    max-width: 450px;
  }
  .orange-rectangle {
    height: 100%;
    width: 60px;
  }
} */}
</style>
