---
import { getEntry } from "astro:content";
const benefits = (await getEntry("pratibha", "benefits")).data;
---
<div class="row benefit justify-content-center pt-3 pt-sm-4 pt-md-5 mt-sm-1" style="margin: 0; padding:0">
  <!-- Left column -->
  <div class="col-sm-6 col-lg-4 order-lg-1 overflow-hidden mt-lg-4 pt-xl-3">
    <!-- Left features list -->
    <div
      class="text-center text-sm-start mb-5 mx-auto mx-sm-0 pb-lg-2 pb-xl-4"
      style="max-width: 340px;"
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-out-back"
      data-disable-parallax-down="lg"
    >
      <div
        class="d-table bg-dark bg-opacity-10 rounded-1 p-2 mx-auto mx-sm-0 mb-3 mb-lg-4"
      >
      <img src={benefits.image.tutionfee} alt="Icon" />
      </div>
      <h2 class="h4 text-white mb-2 mb-lg-3">{benefits.heading.tution}</h2>
      <p class="text-white opacity-80 mb-0">
        {benefits.paragraph.tution}
      </p>
    </div>
    <div
      class="text-center text-sm-start mb-5 mx-auto mx-sm-0 pb-lg-2 pb-xl-4"
      style="max-width: 340px;"
      data-aos="fade-right"
      data-aos-delay="200"
      data-aos-offset="250"
      data-aos-easing="ease-out-back"
      data-disable-parallax-down="lg"
    >
      <div
        class="d-table bg-dark bg-opacity-10 rounded-1 p-2 mx-auto mx-sm-0 mb-3 mb-lg-4"
      >
      <img src={benefits.image.stationary} alt="Icon" />
      </div>
      <h2 class="h4 text-white mb-2 mb-lg-3">{benefits.heading.stationary}</h2>
      <p class="text-white opacity-80 mb-0">
        {benefits.paragraph.stationary}
      </p>
    </div>
  </div>

  <!-- Right column -->
  <div class="col-sm-6 col-lg-4 order-lg-3 overflow-hidden mt-lg-4 pt-xl-3">
    <!-- Right app screen -->
    <div class="d-none d-xxl-block" style="height: 520px;"></div>
    <div class="d-none d-xl-block d-xxl-none" style="height: 490px;"></div>
    <div class="d-none d-lg-block d-xl-none" style="height: 400px;"></div>

    <!-- Right features list -->
    <div
      class="text-center text-sm-start mb-5 mx-auto me-sm-0 pb-lg-2 pb-xl-4"
      style="max-width: 340px;"
      data-aos="fade-left"
      data-aos-offset="250"
      data-aos-delay="400"
      data-aos-easing="ease-out-back"
      data-disable-parallax-down="lg"
    >
      <div
        class="d-table bg-dark bg-opacity-10 rounded-1 p-2 mx-auto mx-sm-0 mb-3 mb-lg-4"
      >
      <img src={benefits.image.equipment} alt="Image" />
      </div>
      <h2 class="h4 text-white mb-2 mb-lg-3">{benefits.heading.equipments}</h2>
      <p class="text-white opacity-80 mb-0">
        {benefits.paragraph.equipments}
      </p>
    </div>
    <div
      class="text-center text-sm-start mb-5 mx-auto me-sm-0 pb-lg-2 pb-xl-4"
      style="max-width: 340px;"
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-delay="600"
      data-aos-easing="ease-out-back"
      data-disable-parallax-down="lg"
    >
      <div
        class="d-table bg-dark bg-opacity-10 rounded-1 p-2 mx-auto mx-sm-0 mb-3 mb-lg-4"
      >
      <img src={benefits.image.bording} alt="Image" />
      </div>
      <h2 class="h4 text-white mb-2 mb-lg-3"> {benefits.heading.bording}</h2>
      <p class="text-white opacity-80 mb-0">
        {benefits.paragraph.bording}
      </p>
    </div>
  </div>
</div>
</div>
