---
import { getEntry } from "astro:content";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
const benefits = (await getEntry("pratibha", "benefits")).data;
const image1 = "/assets/images/pratibha_page/group-1.png";
const image2 = "/assets/images/pratibha_page/group-2.png";
const { mt } = Astro.props;
const { covers, supports, title, description } = benefits;
---

<section class=`   justify-center lg:max-w-[79.5rem] mx-auto pr-[1.5rem] pl-[1.5rem]  ${mt}   md:gap-16 grid tb:grid-cols-1 md:grid-cols-2 gap-16  items-center `>
  <div class="   md:max-w-[39.75rem] tb:items-center "  data-aos="fade-right"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg">
    {/* First column content */}
    <div class="">
      <h1
        class="font-merriweather font-normal text-[2.4rem] leading-[150%] tracking-[-2.2%]"
      >
        {title}
      </h1>
      {
        description.map((item) => (
          <p class="font-poppins font-normal text-[0.9rem] leading-[2rem] text-[#49494C] py-6 break-words">
            {item}
          </p>
        ))
      }

      {
        supports.map((item) => (
          <div class="mb-10">
            <h2 class="text-[#1E1E1E] font-poppins font-semibold text-[1.5rem] leading-[100%]">
              {item?.support}
            </h2>
            <p class="font-poppins font-normal text-[0.9rem] leading-[1.7rem] text-[#49494C] py-6">
              {item?.desc}
            </p>
          </div>
        ))
      }

      <div>
        <h3 class="text-[1.125rem] font-normal text-[#49494C] mb-6">
          What we cover
        </h3>
        <div class="flex flex-col gap-6">
          {
            covers.map((items) => (
              <div class="flex items-center gap-6 text-[1.124rem]">
                <div class="w-[33px] h-[33px]">
                  <img src={items.svg} alt="" width="44" height="44" />
                </div>
                <div class="text-[#333] font-poppins font-normal text-[1.3rem] leading-[100%]">
                  {items.title}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <div class="image-team-grid w-full md:max-w-[37.25rem]" 
  data-aos="fade-left"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg">
    <div class="grid grid-cols-2 grid-rows-[auto_1fr] gap-4 w-full h-full">
      <div class=" col-span-2 w-full h-full">
        {/* Full width top item */}
        <img src={image1} alt="">
      </div>
      
      <div class=" w-full h-full md:w-auto">
        {/* Bottom left item */}
        <img src={image2} alt="">
      </div>
      
      <div class=" w-full h-full md:w-auto">
        {/* Bottom right item */}
        <img src={image2} alt="">
      </div>
    </div>
  </div>
</section>
<!-- 

<PratibhaLayout mt={`${mt} `}>
  <Fragment slot="content" class="ds">
    <div
      class="flex flex-col md:flex-row gap-16 w-full"
      data-aos="fade-left"
      data-aos-duration="1200"
      data-aos-offset="7.5rem"
      data-disable-parallax-down="lg"
    >
      <div class="w-full mx-auto">
        <h1
          class="font-merriweather font-normal text-[2.4rem] leading-[150%] tracking-[-2.2%]"
        >
          {title}
        </h1>
        {
          description.map((item) => (
            <p class="font-poppins font-normal text-[0.9rem] leading-[2rem] text-[#49494C] py-6 break-words">
              {item}
            </p>
          ))
        }

        {
          supports.map((item) => (
            <div class="mb-10">
              <h2 class="text-[#1E1E1E] font-poppins font-semibold text-[1.5rem] leading-[100%]">
                {item?.support}
              </h2>
              <p class="font-poppins font-normal text-[0.9rem] leading-[1.7rem] text-[#49494C] py-6">
                {item?.desc}
              </p>
            </div>
          ))
        }

        <div>
          <h3 class="text-[1.125rem] font-normal text-[#49494C] mb-6">
            What we cover
          </h3>
          <div class="flex flex-col gap-6">
            {
              covers.map((items) => (
                <div class="flex items-center gap-6 text-[1.124rem]">
                  <div class="w-[33px] h-[33px]">
                    <img src={items.svg} alt="" width="44" height="44" />
                  </div>
                  <div class="text-[#333] font-poppins font-normal text-[1.3rem] leading-[100%]">
                    {items.title}
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </Fragment>
  <Fragment slot="image-grid">
    <div
      class="md:max-w-[596px] mx-auto flex flex-col gap-4"
      data-aos="fade-left"
      data-aos-duration="1200"
      data-aos-offset="7.5rem"
      data-disable-parallax-down="lg"
    >
      <div>
        <img
          src={image1}
          alt="Students from Kiran Foundation"
          class="w-full h-[12.5rem] object-cover rounded-xl shadow-md aspect-[6/3]"
        />
      </div>
      <div class="flex gap-4">
        <div class="flex-2">
          <img
            src={image2}
            alt="More students from Kiran Foundation"
            class="w-full object-cover rounded-xl shadow-md aspect-[16/9]"
          />
        </div>
        <div class="flex-1">
          <div class="bg-[#FF5C00] w-full h-full rounded-xl aspect-square">
          </div>
        </div>
      </div>
    </div>
  </Fragment>
</PratibhaLayout> -->
