---
import { getEntry } from "astro:content";
const faqPratibha = (await getEntry("pratibha", "faqpratibha")).data

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Section</title>
    <link rel="stylesheet" href="/assets/css/Pratibha/faq.css">
</head>
<body>
    <div class="faq-container-c1" style="width: 1200px; margin:auto;">
        <div class="faq-container-c2">
            <h1 class="faq-title">{faqPratibha.title}</h1>
            <p class="faq-content">{faqPratibha.paragraph}</p>
            <div class="faq-image-content">
                <img src={faqPratibha.image} alt="vectorImage">
            </div>
        </div>
        <div class="faq-container-c3">
            <div class="faq-accordion">
                <div class="faq-accordion-item">
                    <div class="faq-accordion-question">{faqPratibha.question1}</div>
                    <div class="faq-accordion-answer">{faqPratibha.answer1}</div>
                </div>
                <div class="faq-accordion-item">
                    <div class="faq-accordion-question">{faqPratibha.question2}</div>
                    <div class="faq-accordion-answer">{faqPratibha.answer2}</div>
                </div>
                <div class="faq-accordion-item">
                    <div class="faq-accordion-question">{faqPratibha.question3}</div>
                    <div class="faq-accordion-answer">{faqPratibha.answer3}</div>
                </div>
                <div class="faq-accordion-item">
                    <div class="faq-accordion-question">{faqPratibha.question4}</div>
                    <div class="faq-accordion-answer">{faqPratibha.answer4}</div>
                </div>
                <div class="faq-accordion-item">
                    <div class="faq-accordion-question">{faqPratibha.question5}</div>
                    <div class="faq-accordion-answer">{faqPratibha.answer5}</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.faq-accordion-question').forEach(item => {
            item.addEventListener('click', event => {
                const accordionItem = item.parentNode;
                accordionItem.classList.toggle('active');
            });
        });
    </script>
</body>
</html>
