---
import { getEntry } from "astro:content";

const futurebuilder = (await getEntry("pratibha" ,"future-builder"))

const {title, paragraphs, button, imageGrid} = futurebuilder?.data ?? {};

const image1 = "/assets/images/pratibha_page/future-group.png";
const image2 = "/assets/images/pratibha_page/group-2.png";
const image3 = "/assets/images/pratibha_page/group-1.png";

---

<section class="max-w-[95%] mx-auto">
  <div class="flex flex-col md:flex-row gap-[2rem] md:max-h-[28.875rem]">
    <div class="text-block md:max-w-[30.75rem] max-w-[45.75rem] space-y-[1rem] font-poppins">
      <h2 class="">{title}</h2>
      
      {paragraphs.map((par) => (
        <p>{par}</p>
      ))}

      <div class="flex flex-col sm:flex-row gap-4 mb-12 mt-12">
        <a 
          href={button.herf} 
          class="inline-flex font-poppins items-center justify-center px-3 py-[.75rem] bg-[#00AA5E] text-black rounded-md hover:bg-[#009b55] transition-colors font-semibold text-md"
        >
        {button.text}
        </a>
        </div>
      <!-- <div class="button p-1 md:p-3 bg-red-50 flex justify-center items-center"><a href=""></a></div> -->
    </div>
    <!-- <div class="flex  flex-row flex-wrap p-4 space-y-0 ">
        <div class="  ">
            <img src={image1} alt="">
        </div>
        
      </div> -->
    <div class="gallery-container flex-row space-y-3 py-3">
      <!-- First row with single image -->
      <div class="gallery-row">
        <div class="gallery-item  ">
          <img
            src={imageGrid.image3}
            alt="Kiran Foundation team members standing in front of foundation banner"
          />
        </div>
      </div>

      <!-- Second row with image and accent block -->
      <div class="gallery-container max-w-[25.5rem]">
        <!-- First row with single image -->
        <div class="gallery-row flex gap-2 ">
          <div class="gallery-item ">
            <img
              src={imageGrid.image2}
              alt="Kiran Foundation team members standing in front of foundation banner"
            />
          </div>
          <div class="gallery-item  ">
            <img
              src={imageGrid.image2}
              alt="Kiran Foundation team members standing in front of foundation banner"
            />
          </div>
        </div>

        <!-- Second row with image and accent block -->
      </div>
    </div>
  </div>
</section>

<style>
  .text-block {
    max-width: 29rem;
    max-height: 27rem;
    gap: 48px;
  }
  h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 36px;
    letter-spacing: 0%;
  }
  .button {
    width: 10.625rem;
height: 3.4375rem;
/* gap: 1px; */
border-radius: 8px;
/* padding-top: 18px;
padding-right: 24px;
padding-bottom: 18px;
padding-left: 24px; */

background-color: #00AA5E;
  }
</style>
