---
import { getEntry } from "astro:content";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";

const futurebuilder = await getEntry("pratibha", "future-builder");

const { title, paragraphs, button, imageGrid } = futurebuilder?.data ?? {};
const { mt } = Astro.props;
---

<PratibhaLayout mt={  `${mt} gap-16`}>
  <Fragment slot="content">
    <!-- <section class="max-w-[95%] mx-auto md:gap-16 flex"> -->
    <div class="fq flex flex-col   md:max-w-[39.75rem]">
      <div class="md:max-w-[39.75rem] space-y-[1.5rem] max-w-[45.75rem] font-poppins">
        <h2 class="text-[2rem]">{title}</h2>

        {paragraphs.map((par) => <p>{par}</p>)}

        <div class="flex flex-col sm:flex-row mt-[1.5rem]  ">
          <a
            href={button.herf}
            class="inline-flex font-poppins items-center justify-center px-3 py-[.75rem] bg-[#00AA5E] text-black rounded-md hover:bg-[#009b55] transition-colors font-semibold text-md"
          >
            {button.text}
          </a>
        </div>
        <!-- <div class="button p-1 md:p-3 bg-red-50 flex justify-center items-center"><a href=""></a></div> -->
      </div>
      <!-- <div class="flex  flex-row flex-wrap p-4 space-y-0 ">
    <div class="  ">
      <img src={image1} alt="">
      </div>
      
      </div> -->
    </div>
  </Fragment>

  <Fragment slot="image-grid">
    <div class="gallery-container flex-row space-y-3 py-1 md:max-w-[596px]">
      <!-- First row with single image -->
      <div class="gallery-row max-w-full">
        <div class="gallery-item md:max-h-[50%]">
          <img
            src={imageGrid.image}
            alt="Kiran Foundation team members standing in front of foundation banner"
          />
        </div>
      </div>

      <!-- Second row with image and accent block -->
      <div class="gallery-container ">
        <!-- First row with single image -->
        <div class="gallery-row flex gap-2">
          <div class="gallery-item max-w-[80%]">
            <img
              src={imageGrid.image}
              alt="Kiran Foundation team members standing in front of foundation banner"
            />
          </div>
          <div class="gallery-item ">
            <img
              src={imageGrid.image2}
              alt="Kiran Foundation team members standing in front of foundation banner"
            />
          </div>
        </div>

        <!-- Second row with image and accent block -->
      </div>
    </div>
  </Fragment>
</PratibhaLayout>

<style>
  /* .text-block {
    max-width: 29rem;
    max-height: 27rem;
    gap: 48px;
  } */
  h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
  p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: 0%;
  }
  .button {
    width: 10.625rem;
    height: 3.4375rem;
    /* gap: 1px; */
    border-radius: 8px;
    /* padding-top: 18px;
padding-right: 24px;
padding-bottom: 18px;
padding-left: 24px; */

    background-color: #00aa5e;
  }
  @media (max-width: 1024px) {
   .fq {
    flex-direction: column;
    
  }
  .kiran-images {
      
      width: 100%;
    }
    .ds {
      max-width: 39.5rem;
    }
}

</style>
