---
import { getEntry } from "astro:content";
const futurebuilder = await getEntry("pratibha", "future-builder");

const { title, paragraphs, button, imageGrid, image } =
  futurebuilder?.data ?? {};
const { mt } = Astro.props;
---

<section
  class=`   justify-center lg:max-w-[81rem] mx-auto  ${mt}   md:gap-16 grid tb:grid-cols-1 md:grid-cols-2 gap-16  items-center overflow-hidden`
>
  <div
    class="overflow-hidden lg:max-w-[39.75rem] md:w-full mx-auto tb:items-center space-y-[1.5rem]"
  >
    <h1 class="pratibha-subheading">
      {title}
    </h1>

    {
      paragraphs &&
        paragraphs.map((par: string) => (
          <p
            class="pratibha-description"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-disable-parallax-down="lg"
          >
            {par}
          </p>
        ))
    }
    <div
      class="flex flex-col sm:flex-row mt-[1.5rem] lg:max-w-[13.0625rem] overflow-hidden"
      data-aos="fade-left"
    >
      <button class="bg-[#00AA5E] py-[1rem] px-[1.5rem] rounded-lg">
        <a
          href={button?.herf}
          class="font-poppins text-[#1E1E1E] text-[1.125rem] font-bold"
        >
          {button?.text}
        </a>
      </button>
    </div>
  </div>
  <div
    class="overflow-hidden image-team-grid md:max-w-full lg:max-w-[37.25rem] mx-auto"
    data-aos="fade-right"
  >
    {
      image ? (
        <div class="singleImage">
          <img src={image} alt="" />
        </div>
      ) : (
        <div class="grid md:grid-cols-[65%_25%] grid-rows-[auto_1fr] gap-4 w-full h-full">
          <div class="team-top-image col-span-2 w-full h-full">
            <img
              src={imageGrid.image}
              alt=""
              class="rounded-xl w-full h-full object-cover kiran-image max-h-[12.5rem] aspect-video shadow-xl"
            />
          </div>

          <div class="bottom-left w-full h-full">
            <img
              src={imageGrid.image2}
              alt=""
              class="w-full h-full object-cover aspect-video rounded-xl
             kiran-image-small tb:max:w-[20%] shadow-xl"
            />
          </div>

          <div class="bottom-right w-full h-full">
            <img
              src={imageGrid.image2}
              alt=""
              class="rounded-xl w-full h-full object-cover"
            />
          </div>
        </div>
      )
    }
  </div>
</section>
