---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";

// Fetch the content entry for "future-builder"
const futurebuilder = await getEntry("pratibha", "future-builder");

// Destructure the fetched data
const { title, paragraphs, button, imageGrid, image } = futurebuilder?.data ?? {};
const { mt } = Astro.props;
---
<section class={`flex flex-col-reverse md:grid items-center justify-center mx-auto overflow-hidden max-w-[81rem] gap-20 md:gap-16 md:grid-cols-2 ${mt}`}>
  <!-- Text Content Column -->
  <div 
    class="mx-auto w-full overflow-hidden lg:max-w-[39.75rem]"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-offset="120px"
    data-disable-parallax-down="lg"
  >
    <!-- Title -->
    <h1 class="pratibha-subheading mb-6">
      {title}
    </h1>

    <!-- Paragraphs -->
    {paragraphs && paragraphs.map((par: string) => (
      <p class="pratibha-description mb-4" data-aos="fade-up">
        {par}
      </p>
    ))}

    <!-- Button -->
    <div 
      class="mt-12 flex flex-col sm:flex-row"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-offset="120px"
      data-disable-parallax-down="lg"
    >
    <Button
        link={button?.herf}
        title={button?.text}
        btn="btn2"
        widthClass="w-full lg:w-[210px] md:w-[210px] "
        heightClass="h-[3.75rem]"
      />
      <!-- <Button
        link={button?.herf}
        title={button?.text}
        btn="btn2"
        widthClass="!w-[13.0625rem] h-[60px]   "
      /> -->
    </div>
  </div>

  <!-- Image Content Column -->
  <div
    class="w-full mx-auto overflow-hidden lg:max-w-[37.25rem]"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-offset="120px"
    data-disable-parallax-down="lg"
  >
    {image ? (
      <!-- Single Image -->
      <div class="w-full aspect-[596/382]">
        <img 
          src={image} 
          alt="" 
          class="w-full h-full object-cover rounded-lg shadow-lg"
          loading="lazy"

        />
      </div>
    ) : (
      <!-- Image Grid -->
      <div class="grid grid-cols-2 gap-4">
        <!-- Top Image (full width) -->
        <div class="col-span-2 aspect-video">
          <img
            src={imageGrid.image}
            alt=""
            class="w-full h-full object-cover rounded-xl shadow-xl"
          />
        </div>

        <!-- Bottom Left Image -->
        <div class="aspect-video">
          <img
            src={imageGrid.image2}
            alt=""
            class="w-full h-full object-cover rounded-xl shadow-xl"
          />
        </div>

        <!-- Bottom Right Image -->
        <div class="aspect-video">
          <img
            src={imageGrid.image3}
            alt=""
            class="w-full h-full object-cover rounded-xl shadow-xl"
          />
        </div>
      </div>
    )}
  </div>
</section>