---
import { getEntry } from "astro:content";
const { slug, collection, imageWidth = 608, imageHeight = 630 } = Astro.props;

const heroEntry = (await getEntry(collection, slug)) as {
  data: {
    heroSubtitle: string;
    greenUnderline: string;
    greenUnderlineSvg: string;
    heading2: string;
    heading: string;
    description: string;
    image: string;
  };
};

const {
  greenUnderline,
  greenUnderlineSvg,
  heading,
  heading2,
  description,
  image,
  heroSubtitle,
} = heroEntry.data;
---

<section class="w-full md:h-[32rem] bg-[#F1F1F1]  relative">
  <div class="relative max-w-[81rem] mx-auto flex flex-col md:flex-row items-center h-full">
    <!-- Content Section -->
    <div class="relative w-full md:w-3/5 px-6 md:px-0">
      <h1 class="text-[2.25rem] sm:text-[3rem] md:text-[3.5rem] lg:text-[4rem] font-merriweather font-bold leading-[1.2]">
        <span class="relative inline-block">
          <span class="relative z-10">{greenUnderline}</span>
          <span class="absolute bottom-[-5px] left-0 w-full z-0">
            <img src={greenUnderlineSvg} alt="Green Underline" class="w-full h-auto" />
          </span>
        </span>
        {heading}
        <p class="block">{heading2}</p>
      </h1>
      <p class="mt-4 text-[1.125rem] sm:text-[1.5rem] md:text-[1.75rem] lg:text-[2rem] text-[#49494C] font-poppins leading-relaxed">
        {description}
      </p>
    </div>

    <!-- Image Wrapper (Hidden on Mobile, Uses Dynamic Width & Height) -->
    <div class="hidden sm:block absolute bottom-0 right-0 md:right-[-10%] lg:right-[-5%] z-20"
      style={`width: ${imageWidth}px; height: ${imageHeight}px;`}>
      <img src={image} alt="Hero Image" class="w-full h-auto object-cover"
        style="position: absolute; bottom: 0; transform: translateY(-0%);" />
    </div>
  </div>
</section>
