---
import { getEntry } from "astro:content";
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
const aboutPratibha = (await getEntry("pratibha", "about")).data;
// console.log(aboutPratibha);
const { title, description,image1,image2,image3 } = aboutPratibha;
// console.log(aboutPratibha);
const {mt} = Astro.props;
// console.log(mt);

---


  
<PratibhaLayout mt={mt}>
  <Fragment slot="content">
  <div class="kiran-container flex gap-16 items-start ">
    <div class="kiran-content flex flex-1 flex-col gap-[1.5rem] self-center max-w-[39.75rem]">
      <h1 class="kiran-title">{title}</h1>

      {description.map((item) => <p class="kiran-description md:w-[90%]">{item}</p>)}
    </div>
</Fragment>
<Fragment slot="image-grid">

    <div class="kiran-images max-w-[37.25rem] md:max-h-[32.75rem] flex flex-1 flex-col gap-4">
      <div class="image-top w-full">
        <img
          src={image1}
          alt="Students from Kiran Foundation"
          class="kiran-image w-full max-h-[12.5rem] object-cover  rounded-xl aspect-video shadow-xl"
        />
      </div>
      <div class="image-bottom flex gap-4  w-full">
        <div class="image-bottom-left flex-2">
          <img
            src={image2}
            alt="More students from Kiran Foundation"
            class="kiran-image-small rounded-xl w-full h-full object-cover shadow-xl"
          />
        </div>
        <div class="image-bottom-right  flex-1">
          <img
          src={image3}
          alt="More students from Kiran Foundation"
          class="kiran-image-small rounded-xl w-full h-full object-cover shadow-xl"
        />
        </div>
      </div>
    </div>
  </div>
  
</Fragment>
</PratibhaLayout>

<style>





  
 

  @media (max-width: 1024px) {
    .kiran-container {
      flex-direction: column-reverse;
    }

    .kiran-title {
      font-size: 2.5rem;
    }

    .kiran-images {
      order: -1;
      width: 100%;
    }
  }


</style>
