---
import { getEntry } from "astro:content"
const aboutMentoring =(await getEntry("pratibha", "mentoring")).data
const {mt} = Astro.props;
const {title, image, image1, image2, image3, description,subtitle,assist} = aboutMentoring;

---

<!-- Career Guidance and Mentorship Page -->

<section class=`   justify-center lg:max-w-[79.5rem] mx-auto pr-[1.5rem] pl-[1.5rem]  ${mt}   md:gap-16 grid tb:grid-cols-1 md:grid-cols-2 gap-16   overflow-hidden items-center `>
  <div class="   lg:max-w-[39.75rem] mx-auto tb:items-center overflow-hidden"  
  data-aos="fade-right"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg"
  >
  <h2 class="pratibha-subheading  mb-6">{title}</h2>
  {description.map((item: string) => <p class=" pratibha-description mb-6">{item}</p>)}
  
  
  <ul class="space-y-5">
  
  <p class=" pritibha-description mb-6">{subtitle}</p>
  {assist.map((item: { svg: string; title: string }) => (

    <li class="flex items-center gap-6">
      <div class="max-w-8 max-h-8 flex items-center justify-center">
        <img src={item?.svg} alt={item?.title + " png "}>
          
      </div>
      <span class="pratibha-subtile">{item?.title}</span>
    </li>
    
  ))}
    
  </ul>
</div> 
<div class="image-team-grid mx-auto w-full lg:max-w-[37.25rem] overflow-hidden"
  data-aos="fade-left"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg"
  >
    {image?   <div class="singleImage ">
          <img 
            src={image} 
            alt="Students mentorship" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div> : <div class="grid grid-cols-[70%_30%] grid-rows-[auto_1fr] gap-4 w-full h-full">
      <div class="team-top-image col-span-2 w-full h-full">
        <img src={image1} alt="" class="rounded-xl w-full h-full object-cover">
      </div>
     
      <div class="bottom-left w-full h-full">
        <img src={image2} alt="" class="w-full h-full object-cover aspect-video rounded-xl">
      </div>
     
      <div class="bottom-right w-full h-full">
        <img src={image3} alt="" class="rounded-xl w-full h-full object-cover">
      </div>
    </div>}
  </div>
</section>
