---
import { getEntry } from "astro:content"
import PratibhaLayout from "../../layouts/PratibhaLayout.astro";
const aboutMentoring =(await getEntry("pratibha", "mentoring")).data
const {mt} = Astro.props;
const {title, image, image1, image2, image3, description,subtitle,assist} = aboutMentoring;

---

<section class=`   justify-center lg:max-w-[79.5rem] mx-auto pr-[1.5rem] pl-[1.5rem]  ${mt}   md:gap-16 grid tb:grid-cols-1 md:grid-cols-2 gap-16  items-center `>
  <div class="   md:max-w-[39.75rem] mx-auto tb:items-center "  data-aos="fade-right"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg">
  <h2 class="pratibha-subheading  mb-6">{title}</h2>
  {description.map((item: string) => <p class="text-gray-700 text-lg mb-6">{item}</p>)}
  
  
  <ul class="space-y-5">
  
  <p class=" pritibha-description mb-6">{subtitle}</p>
  {assist.map((item: { svg: string; title: string }) => (

    <li class="flex items-center gap-6">
      <div class="max-w-8 max-h-8 flex items-center justify-center">
        <img src={item?.svg} alt={item?.title + " png "}>
          
      </div>
      <span class="pratibha-subtile">{item?.title}</span>
    </li>
    
  ))}
    
  </ul>
</div> 
<div class="image-team-grid mx-auto w-full md:max-w-[37.25rem]"
  data-aos="fade-left"
  data-aos-duration="1200"
  data-aos-offset="120px"
  data-disable-parallax-down="lg">
    {image?   <div class="max-w-[37.5rem] ">
          <img 
            src={image} 
            alt="Students mentorship" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div> : <div class="grid grid-cols-[70%_30%] grid-rows-[auto_1fr] gap-4 w-full h-full">
      <div class="team-top-image col-span-2 w-full h-full">
        <img src={image1} alt="" class="rounded-xl w-full h-full object-cover">
      </div>
     
      <div class="bottom-left w-full h-full">
        <img src={image2} alt="" class="w-full h-full object-cover aspect-video rounded-xl">
      </div>
     
      <div class="bottom-right w-full h-full">
        <img src={image3} alt="" class="rounded-xl w-full h-full object-cover">
      </div>
    </div>}
  </div>
</section>

{/* 

<PratibhaLayout mt={mt}>
  <Fragment slot="content">
  <div class="kiran-containers sm:w-[100%]  flex flex-col md:flex-row gap-16">
    <div class="kira-content sm:w-[100%] mx-auto   ">
      <h2 class="text-3xl font-normal text-gray-900 mb-6 font-poppins">{title}</h2>
      {description.map((item: string) => <p class="text-gray-700 text-lg mb-6">{item}</p>)}
      
      
      <ul class="space-y-5">
      
      <p class="text-gray-700 text-lg mb-6">{subtitle}</p>
      {assist.map((item: { svg: string; title: string }) => (

        <li class="flex items-center gap-6">
          <div class="w-8 h-8 flex items-center justify-center">
            <img src={item?.svg} alt={item?.title + " png "}>
              
          </div>
          <span class="text-[1.5rem] font-medium">{item?.title}</span>

        </li>
        
      ))}
        
      </ul>
    </div>
  </Fragment>
<Fragment slot="image-grid">
    <div class="img-grid w-full  mt-8 md:mt-12 ">
      <div class="">
        <div class="max-w-[37.5rem] ">
          <img 
            src={image} 
            alt="Students mentorship" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div>
        <div class="col-span-2 md:col-span-1 grid grid-rows-2 gap-5">
          <img 
            src="/lovable-uploads/d205e580-4035-4fb4-b4cc-782fbf39d6b3.png" 
            alt="Students in white t-shirts" 
            class="w-full h-auto object-cover rounded-md"
          />
          <img 
            src="/lovable-uploads/692e6e3c-8106-4b1d-8034-d337f2348b61.png" 
            alt="Two students" 
            class="w-full h-auto object-cover rounded-md"
          />
        </div>
        <div class="col-span-2 h-16 bg-[#FF4700] rounded-md"></div> -->
      </div>
    </div>
  </div>
</Fragment>
</PratibhaLayout>
<style>
  h2{
    font-family: Poppins;
font-weight: 600;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;

  }
  p {
    font-family: Poppins;
font-weight: 400;
font-size: 1rem;
line-height: 2rem;
letter-spacing: 0%;

  }
  span {
    font-family: Poppins;
font-weight: 400;
font-size: 1.25rem;
line-height: 110%;
letter-spacing: 0%;
color: #1E1E1E;

  }
@media (max-width: 1024px) {
    .kiran-containers {
      flex-direction: column;
    }

    .kiran-title {
      font-size: 2.5rem;
    }

    .kiran-images {
      order: -1;
      width: 100%;
    }
    .kira-content {
      max-width: 39.75rem;
    }
    .img-grid {
      max-width: 39.75rem;

      align-self: center;
    }
  }
</style> */}