---
import { getEntry } from "astro:content";
import Button from "../common/button.astro";

// Fetching the selection process data from the content collection
const selectionProcess = (await getEntry("pratibha", "selection-process")).data;

// Destructuring the fetched data for easier access
const {
  heading,
  applyButton,
  querys,
  statusButton,
} = selectionProcess;

// Destructuring Astro.props for additional styling options
const { mt, px = "px-6" } = Astro.props;
---

<section class={`md:bg-[#f1f1f1] md:py-[6.25rem] w-full ${mt}`}>
  <div
    class={`mx-auto max-w-full lg:max-w-[81rem] ${px} mb-[7.5rem] xl:space-y-12 space-y-6`}
    data-aos="fade-up"
  >
    <!-- Section Heading -->
    <div class="max-w-full lg:max-w-[43.5rem] space-y-8">
      <h2 class="pratibha-heading py-2">{heading}</h2>

      <!-- Rendering the list of queries -->
      {querys &&
        querys.map((item: { title: string; description: string[] }) => (
          <div
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-offset="120px"
            data-disable-parallax-down="lg"
          >
            <!-- Query Title -->
            <h3 class="pratibha-subheading">{item?.title}</h3>
            <div>
              <!-- Query Description -->
              <ul class="list-disc ml-2 mt-[1.5rem]">
                {item?.description.map((desc: string) => (
                  <li class="pratibha-description leading-9">{desc}</li>
                ))}
              </ul>
            </div>
          </div>
        ))}
    </div>

    <!-- Buttons Section -->
    <div
      class="flex gap-6 flex-col lg:flex-row md:flex-row"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-offset="120px"
      data-disable-parallax-down="lg"
    >
      <!-- Apply Button -->
      <Button
        link={applyButton?.herf}
        title={applyButton?.title}
        btn="btn1"
        widthClass="w-full md:w-[13.0625rem] lg:w-full xl:w-[14.6875rem]"
        heightClass="h-[3.75rem]"
      />
      <!-- Status Button -->
      <Button
        link={statusButton?.herf}
        title={statusButton?.title}
        btn="btn3"
        widthClass="w-full md:w-[13.0625rem] lg:w-full xl:w-[14.6875rem]"
        heightClass="h-[3.75rem]"
      />
    </div>
  </div>
</section>
